Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = 'shivam'
b = [1,2,3,4]
c = 3.14
d = (1,2,3,4)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

var1: str

var2: str

var3: list

var4: float

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

/ divides and returns a float.

% returns the remainder of the division.

// divides and returns the integer part of the quotient (floor value).

** raises a number to the power of another number.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [2]:
l = [1,2,'shivam',4.57,[1,2,4],(5,7),7,8,9,10]
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
shivam <class 'str'>
4.57 <class 'float'>
[1, 2, 4] <class 'list'>
(5, 7) <class 'tuple'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
10 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [3]:
def count_divisibility(A, B):
    if B == 0:
        return "Division by zero is not allowed"

    count = 0
    while A % B == 0:
        A = A // B
        count += 1

    return count

A = 64
B = 2
result = count_divisibility(A, B)
print(f"{A} is divisible by {B}, {result} times")

64 is divisible by 2, 6 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [5]:
l = [1,2,3,4,5,6,7,8,9,11,12,14,15,45,85,85,4,5,52,00,220,85,11,25,2002,52232,22025,200255]
for i in l:
    if i%3==0:
        print(i,'divisible by 3')

3 divisible by 3
6 divisible by 3
9 divisible by 3
12 divisible by 3
15 divisible by 3
45 divisible by 3
0 divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [6]:
# Creating a list (mutable)
my_list = [1, 2, 3]
print("Original list:", my_list)

# Modifying the list
my_list[0] = 4
print("Modified list:", my_list)

Original list: [1, 2, 3]
Modified list: [4, 2, 3]