**Q1. What is a database? Differentiate between SQL and NoSQL databases.**
Ans. A database is a structured collection of data that is organized and stored electronically. It allows for efficient data storage, retrieval, and manipulation. Databases are essential for storing data in a way that facilitates easy access, management, and updating.

SQL databases are relational, with structured schemas and support for SQL querying. They are suitable for applications requiring complex queries and transactions.

NoSQL databases are non-relational, with flexible schemas and various data models. They excel in handling large-scale, distributed data and are more suitable for applications with dynamic or unstructured data needs.

**Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**
Ans. DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of database objects. DDL statements are primarily used to create, modify, and delete database objects such as tables, indexes, and views. Here’s an explanation of common DDL statements:

CREATE: The CREATE statement is used to create new database objects such as tables, indexes, views, or databases themselves.
CREATE TABLE users (
    id INT PRIMARY KEY,
    username VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE
);

DROP: The DROP statement is used to delete existing database objects like tables, indexes, or views.
DROP TABLE users;

ALTER: The ALTER statement is used to modify the structure of existing database objects, such as adding, modifying, or dropping columns in a table.
ALTER TABLE users
ADD COLUMN full_name VARCHAR(100) AFTER username;

TRUNCATE: The TRUNCATE statement is used to remove all rows from a table while keeping the table structure intact.
TRUNCATE TABLE users;

**Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**
Ans. DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate data stored in database objects such as tables.

INSERT: The INSERT statement is used to add new rows of data into a table.
INSERT INTO users (id, username, email)
VALUES (1, 'john_doe', 'john.doe@example.com');
This SQL statement inserts a new row into the users table with values for id, username, and email.

UPDATE: The UPDATE statement is used to modify existing records in a table.
UPDATE users
SET email = 'john.doe.updated@example.com'
WHERE id = 1;
This SQL statement updates the email field of the record in the users table where id is 1.

DELETE: The DELETE statement is used to remove existing records from a table.
Copy code
DELETE FROM users
WHERE id = 1;

**Q4. What is DQL? Explain SELECT with an example.**
Ans. DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from databases. The primary and most commonly used statement in DQL is SELECT. Here’s an explanation of the SELECT statement with an example:

SELECT Statement:
The SELECT statement is used to query data from one or more tables in a database. It allows you to specify which columns to retrieve, apply filters, sort the results, and perform various types of data manipulations.

SELECT column1, column2, ...
FROM table_name
WHERE condition
ORDER BY column1, column2, ...
LIMIT number_of_rows;

**Q5. Explain Primary Key and Foreign Key.**
Ans. Primary Key : A Primary Key is a column or a set of columns that uniquely identifies each row in a table. It serves as a unique identifier for the records in the table.

Foreign Key : A Foreign Key is a column or a set of columns in one table that references the Primary Key column(s) in another table. It establishes a link or relationship between the two tables.

**Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**
Ans. Python Code to Connect MySQL to Python:

import mysql.connector

try:
    cnx = mysql.connector.connect(
        host='localhost',
        database='your_database_name',
        user='your_username',
        password='your_password'
    )
    cursor = cnx.cursor()
    query = "SELECT * FROM your_table_name"
    cursor.execute(query)
    rows = cursor.fetchall()
    for row in rows:
        print(row)

except mysql.connector.Error as err:
    print(f"Error connecting to MySQL: {err}")

finally:
    if 'cursor' in locals():
        cursor.close()
    if 'cnx' in locals() and cnx.is_connected():
        cnx.close()


** Explanation of cursor() and execute() methods:**

**cursor() method:** is used to create a cursor object in Python that allows you to interact with the MySQL database.
Syntax: cursor = cnx.cursor()
This method creates a cursor instance from the MySQL connection (cnx in this case). The cursor acts as a pointer to the result set of a query.

**execute() method:** is used to execute SQL queries or statements that are passed as a parameter.
Syntax: cursor.execute(query)
Here, query is a string containing the SQL query you want to execute.
After calling execute(query), the cursor executes the SQL query against the MySQL database server specified in the connection (cnx).
If the query is a data manipulation language (DML) query (like SELECT, INSERT, UPDATE, DELETE), it performs the action specified.

**Q7. Give the order of execution of SQL clauses in an SQL query.**
Ans.
Getting Data (FROM/JOIN)
Row Filter (WHERE)
Grouping (GROUP BY)
Group Filter (HAVING)
Return Expression (SELECT)
Order & Paging (ORDER BY & LIMIT/OFFSET)