Q1. List any five functions of the pandas library with execution.

In [3]:
import pandas as pd

# Reading a CSV file
df = pd.read_csv('mnist_test.csv')
print(df.head())  # Display the first 5 rows of the DataFrame

   7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
0  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
1  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
2  0  0    0    0    0    0    0    0    0    0  ...      0      0      0
3  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
4  1  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.661  0.662  0.663  0.664  0.665  0.666  0.667
0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0

[5 rows x 785 columns]

In [4]:
# Display the first 5 rows (default)
print(df.head())

# Display the first 10 rows
print(df.head(10))

   7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
0  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
1  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
2  0  0    0    0    0    0    0    0    0    0  ...      0      0      0
3  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
4  1  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.661  0.662  0.663  0.664  0.665  0.666  0.667
0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0

[5 rows x 785 columns]
   7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
0  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
1  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
2  0  0    0    0    0    0    0    0    0    0  ...      0      0      0
3  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
4  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
5  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
6  9  0    0    0    0    0    0    0    0    0  ...      0      0      0
7  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
8  9  0    0    0    0    0    0    0    0    0  ...      0      0      0
9  0  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.661  0.662  0.663  0.664  0.665  0.666  0.667
0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0
5      0      0      0      0      0      0      0
6      0      0      0      0      0      0      0
7      0      0      0      0      0      0      0
8      0      0      0      0      0      0      0
9      0      0      0      0      0      0      0

[10 rows x 785 columns]

In [5]:
# Generate descriptive statistics
print(df.describe())

                 7       0     0.1     0.2     0.3     0.4     0.5     0.6  \
count  9999.000000  9999.0  9999.0  9999.0  9999.0  9999.0  9999.0  9999.0
mean      4.443144     0.0     0.0     0.0     0.0     0.0     0.0     0.0
std       2.895897     0.0     0.0     0.0     0.0     0.0     0.0     0.0
min       0.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0
25%       2.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0
50%       4.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0
75%       7.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0
max       9.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0

          0.7     0.8  ...        0.658        0.659        0.660  \
count  9999.0  9999.0  ...  9999.000000  9999.000000  9999.000000
mean      0.0     0.0  ...     0.179318     0.163616     0.052605
std       0.0     0.0  ...     5.674433     5.736359     2.420125
min       0.0     0.0  ...     0.000000     0.000000     0.000000
25%       0.0     0.0  ...     0.000000     0.000000     0.000000
50%       0.0     0.0  ...     0.000000     0.000000     0.000000
75%       0.0     0.0  ...     0.000000     0.000000     0.000000
max       0.0     0.0  ...   253.000000   253.000000   156.000000

             0.661   0.662   0.663   0.664   0.665   0.666   0.667
count  9999.000000  9999.0  9999.0  9999.0  9999.0  9999.0  9999.0
mean      0.000600     0.0     0.0     0.0     0.0     0.0     0.0
std       0.060003     0.0     0.0     0.0     0.0     0.0     0.0
min       0.000000     0.0     0.0     0.0     0.0     0.0     0.0
25%       0.000000     0.0     0.0     0.0     0.0     0.0     0.0
50%       0.000000     0.0     0.0     0.0     0.0     0.0     0.0
75%       0.000000     0.0     0.0     0.0     0.0     0.0     0.0
max       6.000000     0.0     0.0     0.0     0.0     0.0     0.0

[8 rows x 785 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Columns: 785 entries, 7 to 0.667
dtypes: int64(785)
memory usage: 59.9 MB

In [7]:
df.shape

(9999, 785)

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
data = {
    'A': [10, 20, 30],
    'B': [40, 50, 60],
    'C': [70, 80, 90]
}
df = pd.DataFrame(data)

def reindex_dataframe(df):
    new_index = range(1, 2 * len(df) + 1, 2)
    df.index = new_index
    return df

reindexed_df = reindex_dataframe(df)
print(reindexed_df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [9]:
data = {
    'Values': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

def calculate_sum_of_first_three(df):
    total_sum = 0

    for value in df['Values'].iloc[:3]:
        total_sum += value

    print("Sum of the first three values:", total_sum)

calculate_sum_of_first_three(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [10]:
data = {
    'Text': [
        'Python is a great programming language',
        'Data analysis with Pandas is powerful',
        'Machine learning models are complex'
    ]
}
df = pd.DataFrame(data)

def add_word_count_column(df, column_name='Text', new_column_name='Word_Count'):
    def count_words(text):
        return len(text.split())

    df[new_column_name] = df[column_name].apply(count_words)

    return df

df = add_word_count_column(df, column_name='Text', new_column_name='Word_Count')

print(df)

                                     Text  Word_Count
0  Python is a great programming language           6
1   Data analysis with Pandas is powerful           6
2     Machine learning models are complex           5

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
'''
DataFrame.size gives the total number of elements in the DataFrame,
whereas DataFrame.shape provides the number of rows and columns as a tuple.
They serve different purposes: size for total elements count and shape for dimensions information.
'''

Q6. Which function of pandas do we use to read an excel file?

Ans.

read_csv()

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [11]:
data = {
    'Email': [
        'alice@example.com',
        'bob@gmail.com',
        'charlie@outlook.com'
    ]
}
df = pd.DataFrame(data)

def extract_username(email):
    # Splitting the email address at '@' and taking the first part (username)
    return email.split('@')[0]

# Applying the function to create the 'Username' column
df['Username'] = df['Email'].apply(extract_username)

# Print the updated DataFrame
print(df)

                 Email Username
0    alice@example.com    alice
1        bob@gmail.com      bob
2  charlie@outlook.com  charlie

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [12]:
data = {
    'A': [3, 6, 8, 4, 7],
    'B': [9, 2, 5, 7, 1],
    'C': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

def select_rows(df):
    # Boolean indexing to select rows based on conditions
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Call the function to select rows
selected_df = select_rows(df)

# Print the selected DataFrame
print(selected_df)

   A  B   C
1  6  2  20
2  8  5  30
4  7  1  50

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [13]:
import pandas as pd

# Sample DataFrame
data = {
    'Values': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

def calculate_statistics(df, column_name='Values'):
    # Calculate mean, median, and standard deviation
    mean_value = df[column_name].mean()
    median_value = df[column_name].median()
    std_deviation = df[column_name].std()

    return mean_value, median_value, std_deviation

# Call the function to calculate statistics
mean_val, median_val, std_dev = calculate_statistics(df)

# Print the results
print("Mean:", mean_val)
print("Median:", median_val)
print("Standard Deviation:", std_dev)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [14]:
data = {
    'Date': pd.date_range('2023-01-01', periods=10),
    'Sales': [100, 120, 130, 110, 150, 140, 160, 170, 180, 200]
}
df = pd.DataFrame(data)

def calculate_moving_average(df, window_size=7, column_name='Sales', new_column_name='MovingAverage'):
    # Calculate the moving average using rolling window
    df[new_column_name] = df[column_name].rolling(window=window_size, min_periods=1).mean()
    return df

# Call the function to calculate moving average
df = calculate_moving_average(df, window_size=7, column_name='Sales', new_column_name='MovingAverage')

# Print the updated DataFrame
print(df)

        Date  Sales  MovingAverage
0 2023-01-01    100     100.000000
1 2023-01-02    120     110.000000
2 2023-01-03    130     116.666667
3 2023-01-04    110     115.000000
4 2023-01-05    150     122.000000
5 2023-01-06    140     125.000000
6 2023-01-07    160     130.000000
7 2023-01-08    170     140.000000
8 2023-01-09    180     148.571429
9 2023-01-10    200     158.571429

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [15]:
data = {
    'Date': pd.date_range('2023-01-01', periods=5)
}
df = pd.DataFrame(data)

def add_weekday_column(df, date_column='Date', new_column_name='Weekday'):
    # Convert the 'Date' column to datetime if it's not already
    df[date_column] = pd.to_datetime(df[date_column])

    # Add a new column 'Weekday' with weekday names
    df[new_column_name] = df[date_column].dt.day_name()

    return df

# Call the function to add 'Weekday' column
df = add_weekday_column(df, date_column='Date', new_column_name='Weekday')

# Print the updated DataFrame
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [16]:
data = {
    'Date': pd.date_range('2023-01-01', periods=50),
    'Value': range(50)
}
df = pd.DataFrame(data)

def select_rows_between_dates(df, start_date='2023-01-01', end_date='2023-01-31', date_column='Date'):
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)

    selected_rows = df[(df[date_column] >= start_date) & (df[date_column] <= end_date)]

    return selected_rows

selected_df = select_rows_between_dates(df, start_date='2023-01-01', end_date='2023-01-31', date_column='Date')

print(selected_df)

         Date  Value
0  2023-01-01      0
1  2023-01-02      1
2  2023-01-03      2
3  2023-01-04      3
4  2023-01-05      4
5  2023-01-06      5
6  2023-01-07      6
7  2023-01-08      7
8  2023-01-09      8
9  2023-01-10      9
10 2023-01-11     10
11 2023-01-12     11
12 2023-01-13     12
13 2023-01-14     13
14 2023-01-15     14
15 2023-01-16     15
16 2023-01-17     16
17 2023-01-18     17
18 2023-01-19     18
19 2023-01-20     19
20 2023-01-21     20
21 2023-01-22     21
22 2023-01-23     22
23 2023-01-24     23
24 2023-01-25     24
25 2023-01-26     25
26 2023-01-27     26
27 2023-01-28     27
28 2023-01-29     28
29 2023-01-30     29
30 2023-01-31     30

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [ ]:
import pandas